{% extends 'reportes/base.html' %}
{% load humanize %}

{% block header %}
Gastos
{% endblock header %}

{% block main %}

<div style="text-align: center; margin-bottom: 30px; margin-top: 30px;">
    <form method="post" style="display: inline-block; text-align: left; border: 1px solid #ccc; padding: 20px; border-radius: 10px;">
        {% csrf_token %}
        <div style="margin-bottom: 10px;">
            <label for="id_fecha" style="display: inline-block; width: 100px;">Fecha:</label>
            {{ form.fecha }}
        </div>
        <div style="margin-bottom: 10px;">
            <label for="id_monto" style="display: inline-block; width: 100px;">Monto:</label>
            {{ form.monto }}
        </div>
        <div style="margin-bottom: 10px;">
            <label for="id_categoria" style="display: inline-block; width: 100px;">Categoría:</label>
            {{ form.categoria }}
        </div>
        <div style="margin-bottom: 10px;">
            <label for="id_descripcion" style="display: inline-block; width: 100px;">Descripción:</label>
            {{ form.descripcion }}
        </div>
        <div style="text-align: center;">
            <button type="submit">Añadir Gasto ➕</button>
        </div>
    </form>
</div>

<h2>Lista de Gastos Registrados</h2>
<table border="1" style="width: 80%; margin: auto; text-align: center; border-collapse: collapse;">
    <thead>
        <tr>
            <th>Fecha</th>
            <th>Monto</th>
            <th>Categoría</th>
            <th>Descripción</th>
        </tr>
    </thead>
    <tbody>
        {% for gasto in gastos %}
        <tr>
            <td>{{ gasto.fecha }}</td>
            <td>${{ gasto.monto_formateado }}</td> <!-- Utiliza el atributo formateado -->
            <td>{{ gasto.categoria }}</td>
            <td>{{ gasto.descripcion|default_if_none:'' }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4">No hay gastos registrados.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock main %}