{% extends 'reportes/base.html' %}

{% block header %}
Reportes Financieros
{% endblock header %}

{% block main %}
<!-- Botones de navegación con emojis -->
<div style="margin-bottom: 40px;"> <!-- Ajusta el margen inferior aquí -->
 
</div>

<!-- Aquí se incrusta el gráfico de TradingView -->
<div class="tradingview-widget-container">
  <div id="tradingview_9d956"></div>
  <div class="tradingview-widget-copyright">
    <a href="https://www.tradingview.com/symbols/NASDAQ-AAPL/" rel="noopener" target="_blank">
      <span class="blue-text">AAPL stock chart</span>
    </a> by TradingView
  </div>
  <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
  <script type="text/javascript">
  new TradingView.widget(
  {
  "width": 980,
  "height": 610,
  "symbol": "NASDAQ:AAPL",
  "interval": "D",
  "timezone": "Etc/UTC",
  "theme": "light",
  "style": "1",
  "locale": "es",  // Cambiar idioma a español
  "toolbar_bg": "#f1f3f6",
  "enable_publishing": false,
  "allow_symbol_change": true,
  "container_id": "tradingview_9d956"
}
  );
  </script>
</div>
{% endblock main %}
